body {
}
html {}

.hh1 {
  display: flex;
  align-items: center;
  justify-content: center;
	
}

img {
	position: center;
	width: 200px; 
	height: 200px;
}

ul {color: green; text-align: center;}
ol {color: red;}

a.links {display: inline-block;
              position: relative;}

div {display: flex;
  align-items: center;
  justify-content: center;
}
h2 { }

.bg {background-color: #E99A4B;
           width: 100%;}

.bg2 {background-color: #2C98D2;
       }

footer {height: 200px;}

i {color: #2C98D2;
  font-size: 60px;
  position: relative;
  left: 520px;
 }
  
